body{
    margin: 90px;
}

header{
    color:white;
    text-align:center;
    font-size: 20px;
    background-color:blueviolet;
    height:50px;
    margin: 10px;
    padding: 20px;
}

nav{
   
    float: left;
    width: 15%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    

}

nav a{
    text-decoration: none;
    display: block;
    background-color:blueviolet;
    color:white;
    margin: 10px;
    padding: 10px;


}

article{

    float: left;
    width: 30%;
    height: 385px;
    box-shadow: 0.5px 0 4px rgb(0,0, 0, .2);
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 15px;;
    background-color: beige;
}

div{
    text-align: right;
    padding-top: 100px;
    border-top: 1px solid black;

}

section{
    float:right;
    width: 48%;
    height: 385px;
    background-color:gainsboro;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 15px;
    margin-right: 9px;

}

h1{
    margin: 5px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input{
    width: 60%;
}

button{
    background-color: blueviolet;
    width: 20%;
    color:white;
    margin-top: 20px;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    margin-left: 250px;
    border: none;
    letter-spacing: 5px;
    font-size: 15px;
}